.button {
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--green-900);
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    transition: filter .5s;

    &:hover {
        filter: brightness(1.1);
    }
}